.filter {
  border: 2px solid var(--border-color);
  border-radius: 30px;
  padding: 32px;
  margin-bottom: 20px;
  background: var(--block-color);
}

.filterRow {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.filterRow > * {
  flex: 1 1 200px;
}

.filterButton {
  width: 400px;
  margin: 0 auto;
}
