.inputUI {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
}
.inputUI__field, .inputUI__textarea {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  white-space: nowrap;
  padding: 15px 32px;
  font: 300 22px / 26px Roboto, Montserrat, Helvetica, sans-serif;
}
.inputUI__textarea {
  min-height: 200px;
}
.inputUI__date {
  width: 300px;
}
.inputUI__label {
  font: 300 22px / 26px Roboto, Montserrat, Helvetica, sans-serif;
  margin-bottom: 5px;
}
.short {
  width: 80px;
}
.inputUI__error {
  color: #e53e3e;
  font-size: 0.8rem;
}
.inputUI__field_error {
  border-color: #e53e3e;
  box-shadow: 0 0 0 1px #e53e3e;
}
@media (max-width: 991px) {
  .inputUI__field {
    padding: 16px;
  }
  .inputUI__field, .inputUI__label {
    font-size: 18px;
    margin-bottom: 0;
  }
  .inputUI__field {
    margin: 0 0 10px 0;
  }
  .inputUI__date{
    width: 80%;
  }
}